/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#navBar {
  width: 100vw;
  height: 100px;
}

#logo {
  margin-left: 25px;
  margin-right: 550px;
  height: 100px;
  width: 160px;
  float: left;
  background: url("../../imgs/jonahLogo.png") no-repeat;
  background-size: 100%;
  background-position: center;
}

#navBar a {
  margin-top: 32px;
  margin-right: 35px;
  margin-left: 35px;
  display: inline-block;
  text-align: center;
  font-family: roboto, sans-serf;
  font-size: 20px;
  text-decoration: none;
  color: #B61E36;
}

input[name=searchBox] {
  float: right;
  width: 150px;
  margin-top: 30px;
  margin-right: 50px;
}

input[name=searchBox]:focus {
  outline: none;
}

#mainBody {
  position: absolute;
  margin-top: 150px;
  margin-right: 100px;
  margin-left: 140px;
  height: 700px;
  width: 1000px;
  background-color: #464646;
}

.tabs {
  margin: auto;
  font-family: robot-thin, sans-serif;
  font-size: 16px;
  text-align: center;
}

.tabs li {
  position: relative;
  left: 15%;
  display: inline-block;
  color: #fff;
  padding: 10px;
  height: 30px;
  bottom: 50px;
  background-color: #B61E36;
}

#wyoPic {
  margin-left: auto;
  margin-right: auto;
  margin-top: -60px;
  width: 90%;
  height: 100%;
  background: url("../../imgs/wyo.png") no-repeat;
  background-position: center;
  background-size: 100%;
}
