/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#navBar {
  position: static;
  width: 100vw;
  height: 100px;
  border: 1px solid black;
}

#logo {
  margin-left: 25px;
  margin-right: 250px;
  height: 100px;
  width: 160px;
  float: left;
  background: url("../../imgs/jonahLogo.png") no-repeat;
  background-size: 100%;
  background-position: center;
}

#searchWrap {
  float: right;
  margin-right: 75px;
  margin-top: 35px;
  text-align: center;
}

#searchWrap a {
  margin-right: 35px;
  margin-left: 35px;
  display: inline-block;
  letter-spacing: 2px;
  text-align: center;
  font-family: roboto, sans-serf;
  font-size: 20px;
  text-decoration: none;
  color: #B61E36;
}

input[name=searchBox] {
  width: 150px;
  margin-right: 50px;
}

input[name=searchBox]:focus {
  outline: none;
}

#mainBody {
  position: static;
  margin: 150px 100px 0px 140px;
  height: 700px;
  width: 1000px;
  background-color: #464646;
}

.tabs {
  margin: auto;
  font-family: robot-thin, sans-serif;
  font-size: 16px;
  text-align: center;
  letter-spacing: 2px;
}

.tabs li {
  position: relative;
  left: 15%;
  display: inline-block;
  color: #fff;
  padding: 10px;
  height: 30px;
  bottom: 50px;
  background-color: #B61E36;
}

#wyoPic {
  margin-left: auto;
  margin-right: auto;
  margin-top: -60px;
  width: 90%;
  height: 100%;
  background: url("../../imgs/wyo.png") no-repeat;
  background-position: center;
  background-size: 100%;
}

#miniNav {
  position: static;
  height: 100px;
  width: 1000px;
  margin: 25px 100px 0px 140px;
  background-color: #464646;
  font-size: 22px;
}

.redBox {
  position: relative;
  top: 10px;
  left: 15px;
  margin: 0px 10px 0px 10px;
  display: inline-block;
  height: 80px;
  width: 220px;
  background-color: #B61E36;
  font-family: roboto, sans-serif;
  letter-spacing: 3px;
  text-align: center;
  line-height: 80px;
  color: #fff;
}

.textHelp {
  color: #B61E36;
}

#picContainer {
  position: static;
  width: 1000px;
  height: 400px;
  margin: 25px 100px 0px 140px;
}

.picBox {
  position: relative;
  display: inline-block;
  height: 350px;
  width: 490px;
  background-color: #464646;
}

#leftPic {
  margin-right: 6px;
}

#fdic {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 100%;
  background: url("../../imgs/fdic.png") no-repeat;
  background-position: center;
  background-size: 100%;
}

#rightPic {
  margin-left: 10px;
}

#fraud {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 100%;
  background: url("../../imgs/fraudAlert.png") no-repeat;
  background-position: center;
  background-size: 100%;
}

#footerBar {
  position: static;
  width: 1000px;
  height: 100px;
  background-color: #464646;
  margin: 0px 100px 20px 140px;
}

#footerBar ul {
  position: relative;
  height: 100px;
  width: 700px;
}

#footerBar ul li {
  position: relative;
  display: inline-block;
  left: 25px;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 100px;
  text-align: center;
  font-family: roboto-slab-regular, sans-serif;
  font-size: 14px;
  letter-spacing: 3px;
  color: #fff;
}

#footerPic {
  position: relative;
  top: -100px;
  right: 25px;
  width: 200px;
  height: 100px;
  float: right;
  background: url("../../imgs/footerPic.png") no-repeat;
  background-position: center;
  background-size: 100%;
}

#aboutUs {
  position: static;
  margin: 150px 100px 0px 140px;
  height: 700px;
  width: 1000px;
  background-color: #464646;
}

#aboutUsText {
  margin: auto;
  width: 900px;
  height: 600px;
  background-color: #fff;
  font-family: roboto-slab-regular, sans-serif;
}

#aboutUsText li {
  color: #B61E36;
}
