// Splash Index SCSS


#navBar {

  width: 100vw;
  height: 60px;
  border: 1px solid black;

}

#logo {

  margin-left: 25px;
  margin-right: 600px;
  height: 60px;
  width: 100px;
  float: left;
  background: url('../../imgs/jonahLogo.png') no-repeat;
  background-size: 100%;
  background-position: center;
}

#navBar a {

  margin-top: 22px;
  margin-right: 35px;
  margin-left: 35px;
  display: inline-block;
  text-align: center;
  font-family: roboto, sans-serf;
  font-size: 15px;
  text-decoration: none;
  color: #B61E36;
}

input[name=searchBox] {

  float: right;
  margin-top: 20px;
  margin-right: 50px;
}
